h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-styled tracking-tight;
}

h1 {
  @apply text-6xl font-semibold mb-4;
}

h2 {
  @apply text-5xl font-semibold mb-4;
}

h3 {
  @apply text-4xl font-normal;
}

h4 {
  @apply text-3xl font-normal;
}

h5 {
  @apply text-2xl font-normal;
}

h6 {
  @apply text-xl font-normal;
}

p {
  @apply text-lg mb-6;
}

.block-container {
  ul,
  ol {
    @apply text-lg mb-6 list-inside list-disc ml-4;
  }

  &.background-none,
  &.background-light,
  &.background-dark,
  &.background-darker,
  &.background-undefined {
    a:not(.button) {
      @apply text-primary underline hover:text-primary-hover transition-colors;
    }
  }

  &.background-primary,
  &.background-secondary {
    a:not(.button) {
      @apply underline hover:text-white transition-colors;
    }
  }

  &.background-tertiary {
    a:not(.button) {
      @apply underline hover:text-white transition-colors;
    }
  }
}
