h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-styled tracking-tight;
}

h1 {
  @apply font-semibold mb-4 text-h1 leading-tight;
}

h2 {
  @apply font-semibold mb-4 text-h2 leading-tight;
}

h3 {
  @apply font-normal text-h3 leading-tight;
}

h4 {
  @apply font-normal text-h4 leading-tight;
}

h5 {
  @apply font-normal text-h5 leading-tight;
}

h6 {
  @apply text-lg font-normal leading-tight;
}

p {
  @apply mb-6 leading-normal text-paragraph;
}

.block-container {
  ul,
  ol {
    @apply text-paragraph mb-6 list-inside list-disc ml-4;
  }

  &.background-none,
  &.background-light,
  &.background-dark,
  &.background-darker,
  &.background-undefined {
    a:not(.button) {
      @apply text-primary underline hover:text-primary-hover transition-colors;
    }
  }

  &.background-primary,
  &.background-secondary {
    a:not(.button) {
      @apply underline hover:text-white transition-colors;
    }
  }

  &.background-tertiary {
    a:not(.button) {
      @apply underline hover:text-white transition-colors;
    }
  }
}
